<div class="modal fade" id="pb-modal" role="dialog" aria-labelledby="myPblabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myPblabel"></h4>
      </div>
      <div class="modal-body fixed-panel" id="inner-pb-modal">
      </div>
      <div class="modal-footer" id="myPbButtons">
      </div>
    </div>
  </div>
</div>