<p id="notice"><%= notice %></p>

<p>
  <strong>Attachment:</strong>
  <%= @plasmid_batch_qc_attachment.attachment %>
</p>

<%= link_to 'Edit', edit_plasmid_batch_qc_attachment_path(@plasmid_batch_qc_attachment) %> |
<%= link_to 'Back', plasmid_batch_qc_attachments_path %>
