<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The plan has changed!, <%= @user.firstname %>!</h1>
    <p>The clonings has changed. Please check the <%link_to "page", root_url %></p>
  </body>
</html>