%h1 Listing sma1s

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @sma1s.each do |sma1|
      %tr
        %td= link_to 'Show', sma1
        %td= link_to 'Edit', edit_sma1_path(sma1)
        %td= link_to 'Destroy', sma1, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sma1', new_sma1_path
