		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<%= render :partial => 'search/search' %>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<%= render :partial => 'search/search_virus' %>
			</div>
		</div>