<p id="notice"><%= notice %></p>

<p>
  <strong>Attachment:</strong>
  <%= @clone_batch_qc_attachment.attachment %>
</p>

<%= link_to 'Edit', edit_clone_batch_qc_attachment_path(@clone_batch_qc_attachment) %> |
<%= link_to 'Back', clone_batch_qc_attachments_path %>
