<p id="notice"><%= notice %></p>

<p>
  <strong>Attachment:</strong>
  <%= @qc_attachment.attachment %>
</p>

<%= link_to 'Edit', edit_qc_attachment_path(@qc_attachment) %> |
<%= link_to 'Back', qc_attachments_path %>
