<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>This production ##{production.id} is finished! , |subme|!</h3>
    <p>"#{production.name}"</p>
    <p>#{production.comment}</p>
  </body>
</html>