<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey |subme|! The production ##{production.id} is finished! </h3>
    <p>"#{production.name}"</p>
    <p>#{production.comment}</p>
    <%= @production.name %>
  </body>
</html>