<%= render 'components/prod_process_pills'%>
<div class="panel panel-info">
	<div class="panel-heading">Editing Production #<%=@production.id %></div>
		<%= render :partial=> "productions/components/form"%>
</div>

<%= render 'components/modal'%>
