<% provide(:title, "Production Manager") %>

<% content_for(:sidebar) do%>
	<%= render :partial => "layout/sidebar" %>
<%end%>

	<div class="center" >
		<div class="row expl">
			
			<div class="row">
				<div class="col-lg-6 text-align-left">
					<%= link_to 'New Production', new_production_path, :class => "btn info prod_btn" %> 
				</div>
				<div class="col-lg-2 col-lg-offset-4">
					<%= link_to 'Push!', users_inform_production_path(@user), :class => "btn btn-success" %>
				</div>
			</div>
		</div>
		<% if @productions.empty?%>
			<p>No production to display</p>
		<%else%>
				<div class="row" id="production_todo">
						<%= render :partial => 'productions/components/production_mgr'%>
				</div>
		<%end%>
</div>
