<% provide(:title, "Plasmid batch : Search") %>
<%= render :partial => 'plasmid_batches/plasmid_batch_components/plasmid_batch_searchbar' %>
<div id= "smart-list">
	<%= smart_listing_render(:plasmid_batches) %>
</div>

