<% if @clone_batches.empty?%>
			<p>No plasmid to display</p>
<%else%>
<table class="table table-striped table-bordered" id="plasmid-table">
			<thead>
				<th>Name</th>
				<th>Batch number</th>
				<th>Actions</th>
			</thead>
				<% @plasmids.each do |plasmid| %>
					<tr>
						<td class="col-sm-3"><%= plasmid.name %></td>
						<td class="col-sm-1 text-center"><%= plasmid.number %></td>
						<td class="col-sm-3 text-center">
							<%= link_to "Remove batch", 
										production_clone_batch_remove_from_prod_path(@production, :clone_batch_id =>plasmid.id),
										:class =>"btn btn-danger btn-xs",
										:title=>"Remove clone from list.",
										:confirm => "Do really want to remove this batch?",
										:remote => true %>
						</td>
					</tr>
				<% end %>
</table>
<% end %>
