<% if @production.clone_batches.exists?%>

	<% if @production.pool == true %>
		<% st = "Production from pooled plasmids." %>
	<%else%>
		<% st = "The plasmids are not pooled." %>
	<%end%>
	
	
		<%= simple_form_for @production, url: production_pool_path(@production), :remote=> true, :html => {:class => "form-inline"} do |f| %>
			<div class="form-group col-lg-12">
				
				<%=st%> <%= f.check_box :pool, :as => :boolean, :onclick => "$('#production_pool*').submit();", :disabled => @production.locked %>
			</div>
		<%end%>

<%end%>
