<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6">
		<ul>
		  <% @clone_batches.each do |cb| %>
		    <li>
		      <h5>
		      	<%= cb.try(:highlight).try(:name) ? cb.highlight.name[0].html_safe : cb.name %>
			</h5>
		    </li>
		  <% end %>
		</ul>
	</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<ul>
  <% @virus_productions.each do |vp| %>
    <li>
      <h5>
      	<%= vp.try(:highlight).try(:number) ? vp.highlight.number[0].html_safe : vp.number %>
	</h5>
    </li>
  <% end %>
</ul>
</div>
</div>
