<%= render 'components/process_pills'%>
<div class="panel panel-primary">
	<div class="panel-heading">
		Processing Cloning
	</div>
<%= render :partial=> "assays/assay_components/assay_form"%>
</div>

