<% provide(:title, "Cloning Manager") %>

	<div class="center jumbotron cloning-color">
		<div class="row expl">
		<% if @assays.empty?%>
			<%else%>
			<div class="row">
				<div class= "col-lg-4 pull-left">
				Drag and drop the rows to rank the priority.
				</div>
			</div>
			<%end%>
			<div class="row">
				<div class="col-lg-6 text-align-left">
					<%= link_to 'New cloning', new_assay_path , :class => "btn btn-primary" %> 
				</div>
				<div class="col-lg-6 text_align-right">
					<%= link_to 'Push!', users_inform_path , :class => "btn btn-success" %> 
				</div>
			</div>
		</div>
		<% if @assays.empty?%>
			<p>No cloning to display</p>
			<%else%>
		<div class="row" id="assay_todo">
			<%= render :partial => 'components/assay_mgr'%>
		</div>
		<%end%>
	</div>
