<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-lg-6">
				Order
			</div>
		</div>
	</div>
		<%= render :partial=> "assays/components/assay_form"%>
</div>

