<div class="container">
<div class="row">
		<h6>Cloning Gantt-chart:</h6>
		<div id='gantt-container' class="row">
		<% if Assay.where.not("last_step < ? ", 8).all.count > 0 %>
					<%= render :partial => "assays/components/cloning_gantt_chart", :locals => {:assays => @assays}  %>
		<%else%>
		<p>No Cloning to schedule...</p>
		<%end%>
		</div>
	</div>
</div>
