<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.firstname %></p>
    <p>
      The plan has changed! Please check the Cloning table <%= link_to "here", root_path %>.
      
      Capseed
    </p>
  </body>
</html